#app {
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.gameboard {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
        "header-a player-chair-7 player-chair-8 player-chair-9 header-b"
        "player-chair-6 play-area play-area play-area player-chair-10"
        "player-chair-5 play-area play-area play-area player-chair-11"
        "player-chair-4 play-area play-area play-area player-chair-12"
        "footer-a player-chair-3 player-chair-2 player-chair-1 footer-b";
    background: $gameboardColor;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-shape {
    border: 1px solid $white;
    border-radius: 5px;
    width: $cardWidth;
    height: $cardHeight;
}

.placeholder-base {
    @extend .card-shape;
    color: $white;
}

.card-placeholder {
    @extend .card-shape;
    position: relative;
}

.drawdiscard-piles {
    display: flex;
    grid-area: play-area;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px;
    background-color: darken(purple, 10);
}

.pile-counter {
    padding: 20px;
}

.card {
    @extend .card-shape;
    position: absolute;
    box-shadow: 1px 1px 1px 1px #000;
    background-image: url(/cards-spritesheet-175h.png);
    background-position: -4788px -2px;
    background-size: auto 180px;
    background-color: $white;
    * {
        visibility: hidden;
    }
}
